NEXT_PUBLIC_SUPABASE_URL=https://gdtndwjxemnanoscgavu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkdG5kd2p4ZW1uYW5vc2NnYXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3OTg4MDUsImV4cCI6MjEwNTM3NDgwNX0.lCsXJgVWMHvei6B2tZIFjY4e9RdgNMAac1WtPWOLcls
